.container {
  display: flex;
  flex: 1;
  width: 100%;
  height: auto;
  min-height: 100vh;
  background: linear-gradient(150deg, #628e82, #1a4855);
}

.content {
  width: 80%;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
}

.social {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  gap: 30px;
}

.social img {
  cursor: pointer;
}

.studio {
  display: flex;

  margin-top: 100px;
}

.description {
  display: flex;
  flex-direction: column;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0 auto;
}

.ghost1 {
  animation: float 6s ease-in-out infinite;
}

.ghost2 {
  animation: float 6s ease-in-out infinite;
  animation-delay: 3s;
}

.author {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.03em;
  text-align: left;

  color: #f9f9f9;
}

.title {
  margin-top: 0;
  font-size: 78px;
  font-weight: 900;
  line-height: 74px;
  letter-spacing: 0em;
  text-align: left;

  color: #f9f9f9;
}

.descriptionText {
  margin-top: -40px;
  font-size: 16px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;

  color: #f9f9f9;
}

.buttons {
  display: flex;
  margin-top: 20px;
}

.buttons img {
  cursor: pointer;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0px);
  }
}

@media (max-width: 320px) {
  .container {
    width: 100%;
    flex: 1;
  }

  .title {
    font-size: 50px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: left;
  }

  .social {
    gap: 5px;
  }

  .social img {
    width: 20px;
  }

  .studio {
    margin-top: 0;
    margin-bottom: 20px;
    flex-direction: column-reverse;
  }

  .buttons {
    flex-direction: column;
    gap: 10px;
  }

  .title {
    margin-top: -20px;
  }

  .descriptionText {
    margin-top: -50px;
  }
}
@media (max-width: 480px) {
  .container {
    width: 100%;
    flex: 1;
  }

  .title {
    font-size: 65px;
    font-weight: 900;
    line-height: 70px;
    letter-spacing: 0em;
    text-align: left;
  }

  .social {
    gap: 5px;
  }

  .social img {
    width: 30px;
  }

  .studio {
    margin-top: 0;
    margin-bottom: 20px;
    flex-direction: column-reverse;
  }

  .buttons {
    flex-direction: column;
    gap: 10px;
  }

  .title {
    margin-top: -20px;
  }

  .descriptionText {
    margin-top: -50px;
  }
}
@media (max-width: 600px) {
  .container {
    width: 100%;
    flex: 1;
  }

  .title {
    font-size: 65px;
    font-weight: 900;
    line-height: 70px;
    letter-spacing: 0em;
    text-align: left;
  }

  .social {
    gap: 5px;
  }

  .social img {
    width: 30px;
  }

  .studio {
    margin-top: 0;
    margin-bottom: 20px;
    flex-direction: column-reverse;
  }

  .buttons {
    flex-direction: column;
    gap: 10px;
  }

  .title {
    margin-top: -20px;
  }

  .descriptionText {
    margin-top: -50px;
  }
}
@media (max-width: 801px) {
  .container {
    width: 100%;
    flex: 1;
  }

  .title {
    font-size: 65px;
    font-weight: 900;
    line-height: 70px;
    letter-spacing: 0em;
    text-align: center;
  }

  .social {
    gap: 5px;
  }

  .social img {
    width: 30px;
  }

  .studio {
    margin-top: 0;
    margin-bottom: 20px;
    flex-direction: column-reverse;
  }

  .buttons {
    flex-direction: column;
    gap: 10px;
  }

  .title {
    margin-top: -20px;
  }

  .author {
    text-align: center;
  }

  .descriptionText {
    margin-top: -50px;
    text-align: center;
  }
}
@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
}
@media (min-width: 1281px) {
}
