.container {
  display: flex;
  flex: 1;
  height: 100vh;
  background: linear-gradient(150deg, #628e82, #1a4855);
}

.content {
  width: 80%;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
}

.social {
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 30px;
}

.social img {
  cursor: pointer;
}

.studio {
  display: grid;
  grid-template-columns: 1fr 1fr;

  margin-top: 100px;
}

.description {
  display: flex;
  flex-direction: column;
}

.author {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.03em;
  text-align: left;

  color: #f9f9f9;
}

.title {
  margin-top: 0;
  font-size: 78px;
  font-weight: 900;
  line-height: 74px;
  letter-spacing: 0em;
  text-align: left;

  color: #f9f9f9;
}

.descriptionText {
  margin-top: -40px;
  font-size: 16px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;

  color: #f9f9f9;
}

.buttons {
  margin-top: 20px;
}

.buttons img {
  cursor: pointer;
}

.ghost1 {
  animation: float 6s ease-in-out infinite;
}

.ghost2 {
  animation: float 6s ease-in-out infinite;
  animation-delay: 3s;
}

@keyframes float {
  0% {
    transform: translateY(0px) translateX(0px);
  }
  50% {
    transform: translateY(-50px) translateX(-20px);
  }
  100% {
    transform: translateY(0px) translateX(0px);
  }
}
